.env
.env*
venv/
menv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.vercel
output.txt
input.txt
KBot Storage/
kbot_storage.tar.gz
kBot.ipynb
scraped_data.json
scraped_data_filtered.json
scraped_data_full.json
